header.header
    .container.header__container
        .logo.header__logo
            a.logo__link(href="#" aria-label="logo")
                img.logo__img(src="img/logo.png" srcset="img/logo@2x.png 2x" width="101" height="73" alt="logo")

        nav.menu.header__menu
            ul.menu__list
                li.menu__item
                    a.menu__link.is-active(href="#") Тарифи
                
                li.menu__item
                    a.menu__link(href="#") Блог
                
                li.menu__item
                    a.menu__link(href="#") FAQ
                
                li.menu__item
                    a.menu__link(href="#") Контакти

        ul.actions
            li.actions__item.actions__item--hidden-md
                a.button.button--app.actions__button(href="#")
                    svg.button__icon(width="78" height="22")
                        use(xlink:href="img/sprite.svg#app-store")
            
            li.actions__item.actions__item--hidden-md
                a.button.button--app.actions__button(href="#")
                    svg.button__icon(width="85" height="21")
                        use(xlink:href="img/sprite.svg#google-play")

            li.actions__item.actions__item--hidden-md
                a.button.button--outline.actions__button(href="#") Вхід
            
            li.actions__item.actions__item--visible-md
                a.button.button--outline.actions__button(href="#")
                    svg.button__icon(width="17" height="19")
                        use(xlink:href="img/sprite.svg#user")
                    span Мій профіль

            li.actions__item.actions__item--visible-md
                button.burger.header__burger(type="button" aria-label="Open mobile menu" aria-expanded="false" data-nav-toggle)
                    .burger__line
                    .burger__line
                    .burger__line
