.mobile-nav
    .mobile-nav__sidebar
        .mobile-nav__inner
            nav.mobile-nav-menu
                ul.mobile-nav-menu__list
                    li.mobile-nav-menu__item
                        a.mobile-nav-menu__link(href="#") Тарифи
                    li.mobile-nav-menu__item
                        a.mobile-nav-menu__link(href="#") Блог
                    li.mobile-nav-menu__item
                        a.mobile-nav-menu__link(href="#") FAQ
                    li.mobile-nav-menu__item
                        a.mobile-nav-menu__link(href="#") Контакти
                    li.mobile-nav-menu__item
                        a.button.mobile-nav-menu__button(href="#") Зареєструватися
                        a.button.button--outline.mobile-nav-menu__button(href="#") Вхід
