section.decision-section
    .container.decision-section__container
        h2.section-title.decision-section__title Є рішення
    
        ul.decision-section__list
            li.decision-section__item
                .decision-section__col
                    picture.decision-section__picture
                        img.decision-section__img(src="img/decision-img.webp" srcset="img/decision-img@2x.webp 2x" loading="lazy" width="626" height="380"  alt="alt")

                    .decision-section__number 1

                    .decision-section__quote
                        p Вам знайома ситуація, коли Ви шукаєте те, що колись читали, серед тисяч скріншотів різних юридичних ресурсів?

                .decision-section__col
                    h3.decision-section__sub-title Нарешті всі ваші рахунки в одному місці, завдяки прямим інтеграціям

                    .decision-section__text
                        p Вам знайома ситуація, коли Ви шукаєте те, що колись читали, серед тисяч скріншотів різних юридичних ресурсів?

            li.decision-section__item
                .decision-section__col
                    picture.decision-section__picture
                        img.decision-section__img(src="img/decision-img.webp" srcset="img/decision-img@2x.webp 2x" loading="lazy" width="626" height="380"  alt="alt")

                    .decision-section__number 2

                    .decision-section__quote
                        p Вам знайома ситуація, коли Ви шукаєте те, що колись читали, серед тисяч скріншотів різних юридичних ресурсів?

                .decision-section__col
                    h3.decision-section__sub-title Нарешті всі ваші рахунки в одному місці, завдяки прямим інтеграціям

                    .decision-section__text
                        p Вам знайома ситуація, коли Ви шукаєте те, що колись читали, серед тисяч скріншотів різних юридичних ресурсів?
            
            li.decision-section__item
                .decision-section__col
                    picture.decision-section__picture
                        img.decision-section__img(src="img/decision-img.webp" srcset="img/decision-img@2x.webp 2x" loading="lazy" width="626" height="380"  alt="alt")

                    .decision-section__number 3

                    .decision-section__quote
                        p Вам знайома ситуація, коли Ви шукаєте те, що колись читали, серед тисяч скріншотів різних юридичних ресурсів?

                .decision-section__col
                    h3.decision-section__sub-title Нарешті всі ваші рахунки в одному місці, завдяки прямим інтеграціям

                    .decision-section__text
                        p Вам знайома ситуація, коли Ви шукаєте те, що колись читали, серед тисяч скріншотів різних юридичних ресурсів?
            
            li.decision-section__item
                .decision-section__col
                    picture.decision-section__picture
                        img.decision-section__img(src="img/decision-img.webp" srcset="img/decision-img@2x.webp 2x" loading="lazy" width="626" height="380"  alt="alt")

                    .decision-section__number 4

                    .decision-section__quote
                        p Вам знайома ситуація, коли Ви шукаєте те, що колись читали, серед тисяч скріншотів різних юридичних ресурсів?

                .decision-section__col
                    h3.decision-section__sub-title Нарешті всі ваші рахунки в одному місці, завдяки прямим інтеграціям

                    .decision-section__text
                        p Вам знайома ситуація, коли Ви шукаєте те, що колись читали, серед тисяч скріншотів різних юридичних ресурсів?
            
            li.decision-section__item
                .decision-section__col
                    picture.decision-section__picture
                        img.decision-section__img(src="img/decision-img.webp" srcset="img/decision-img@2x.webp 2x" loading="lazy" width="626" height="380"  alt="alt")

                    .decision-section__number 5

                    .decision-section__quote
                        p Вам знайома ситуація, коли Ви шукаєте те, що колись читали, серед тисяч скріншотів різних юридичних ресурсів?

                .decision-section__col
                    h3.decision-section__sub-title Нарешті всі ваші рахунки в одному місці, завдяки прямим інтеграціям

                    .decision-section__text
                        p Вам знайома ситуація, коли Ви шукаєте те, що колись читали, серед тисяч скріншотів різних юридичних ресурсів?
            
            li.decision-section__item
                .decision-section__col
                    picture.decision-section__picture
                        img.decision-section__img(src="img/decision-img.webp" srcset="img/decision-img@2x.webp 2x" loading="lazy" width="626" height="380"  alt="alt")

                    .decision-section__number 6

                    .decision-section__quote
                        p Вам знайома ситуація, коли Ви шукаєте те, що колись читали, серед тисяч скріншотів різних юридичних ресурсів?

                .decision-section__col
                    h3.decision-section__sub-title Нарешті всі ваші рахунки в одному місці, завдяки прямим інтеграціям

                    .decision-section__text
                        p Вам знайома ситуація, коли Ви шукаєте те, що колись читали, серед тисяч скріншотів різних юридичних ресурсів?
            
            li.decision-section__item
                .decision-section__col
                    picture.decision-section__picture
                        img.decision-section__img(src="img/decision-img.webp" srcset="img/decision-img@2x.webp 2x" loading="lazy" width="626" height="380"  alt="alt")

                    .decision-section__number 7

                    .decision-section__quote
                        p Вам знайома ситуація, коли Ви шукаєте те, що колись читали, серед тисяч скріншотів різних юридичних ресурсів?

                .decision-section__col
                    h3.decision-section__sub-title Нарешті всі ваші рахунки в одному місці, завдяки прямим інтеграціям

                    .decision-section__text
                        p Вам знайома ситуація, коли Ви шукаєте те, що колись читали, серед тисяч скріншотів різних юридичних ресурсів?
            
            li.decision-section__item
                .decision-section__col
                    picture.decision-section__picture
                        img.decision-section__img(src="img/decision-img.webp" srcset="img/decision-img@2x.webp 2x" loading="lazy" width="626" height="380"  alt="alt")

                    .decision-section__number 8

                    .decision-section__quote
                        p Вам знайома ситуація, коли Ви шукаєте те, що колись читали, серед тисяч скріншотів різних юридичних ресурсів?

                .decision-section__col
                    h3.decision-section__sub-title Нарешті всі ваші рахунки в одному місці, завдяки прямим інтеграціям

                    .decision-section__text
                        p Вам знайома ситуація, коли Ви шукаєте те, що колись читали, серед тисяч скріншотів різних юридичних ресурсів?