section.error-section
    .container.error-section__container
        .error-section__left
            .error-section__number 404
            
            h1.error-section__title Сторінку не знайдено
            
            .error-section__buttons
                a.button.error-section__button(href="#") На головну 

        .error-section__right
            picture.error-section__picture
                img.error-section__img(src="img/404-img.svg" loading="lazy" width="417" height="377"  alt="alt")
