section.faq-section
    .container.faq-section__container
        header.faq-section__header
            h1.page-title FAQ

            nav.breadcrumbs(aria-label="breadcrumb")
                ul.breadcrumbs__list
                    li.breadcrumbs__item
                        a.breadcrumbs__link(href="#") Головна
                    li.breadcrumbs__item(aria-current="page") FAQ

        .faq-section__row
            .faq-section__col
                h2.faq-section__sub-title Назва категорії

                ul.faq-section__list
                    li.faq-section__item
                        .accordion.is-open
                            button.accordion__toggle(type="button" aria-expanded="false")
                                .accordion__icon
                                | Як це працює?

                            .accordion__content(aria-hidden="true")
                                .accordion__text
                                    p Вам знайома ситуація, коли Ви шукаєте те, що колись читали, серед тисяч скріншотів різних юридичних ресурсів

                    li.faq-section__item
                        .accordion
                            button.accordion__toggle(type="button" aria-expanded="false")
                                .accordion__icon
                                | Як користуватись сервісом
                            
                            .accordion__content(aria-hidden="true")
                                .accordion__text
                                    p Вам знайома ситуація, коли Ви шукаєте те, що колись читали, серед тисяч скріншотів різних юридичних ресурсів

                    li.faq-section__item
                        .accordion
                            button.accordion__toggle(type="button" aria-expanded="false")
                                .accordion__icon
                                | Як користуватись сервісом
                            
                            .accordion__content(aria-hidden="true")
                                .accordion__text
                                    p Вам знайома ситуація, коли Ви шукаєте те, що колись читали, серед тисяч скріншотів різних юридичних ресурсів

                    li.faq-section__item
                        .accordion
                            button.accordion__toggle(type="button" aria-expanded="false")
                                .accordion__icon
                                | Як користуватись сервісом
                            
                            .accordion__content(aria-hidden="true")
                                .accordion__text
                                    p Вам знайома ситуація, коли Ви шукаєте те, що колись читали, серед тисяч скріншотів різних юридичних ресурсів

                    li.faq-section__item
                        .accordion
                            button.accordion__toggle(type="button" aria-expanded="false")
                                .accordion__icon
                                | Як користуватись сервісом
                            
                            .accordion__content(aria-hidden="true")
                                .accordion__text
                                    p Вам знайома ситуація, коли Ви шукаєте те, що колись читали, серед тисяч скріншотів різних юридичних ресурсів

            .faq-section__col
                h2.faq-section__sub-title Назва категорії

                ul.faq-section__list
                    li.faq-section__item
                        .accordion.is-open
                            button.accordion__toggle(type="button" aria-expanded="false")
                                .accordion__icon
                                | Як це працює?

                            .accordion__content(aria-hidden="true")
                                .accordion__text
                                    p Вам знайома ситуація, коли Ви шукаєте те, що колись читали, серед тисяч скріншотів різних юридичних ресурсів

                    li.faq-section__item
                        .accordion
                            button.accordion__toggle(type="button" aria-expanded="false")
                                .accordion__icon
                                | Як користуватись сервісом
                            
                            .accordion__content(aria-hidden="true")
                                .accordion__text
                                    p Вам знайома ситуація, коли Ви шукаєте те, що колись читали, серед тисяч скріншотів різних юридичних ресурсів

                    li.faq-section__item
                        .accordion
                            button.accordion__toggle(type="button" aria-expanded="false")
                                .accordion__icon
                                | Як користуватись сервісом
                            
                            .accordion__content(aria-hidden="true")
                                .accordion__text
                                    p Вам знайома ситуація, коли Ви шукаєте те, що колись читали, серед тисяч скріншотів різних юридичних ресурсів

                    li.faq-section__item
                        .accordion
                            button.accordion__toggle(type="button" aria-expanded="false")
                                .accordion__icon
                                | Як користуватись сервісом
                            
                            .accordion__content(aria-hidden="true")
                                .accordion__text
                                    p Вам знайома ситуація, коли Ви шукаєте те, що колись читали, серед тисяч скріншотів різних юридичних ресурсів

                    li.faq-section__item
                        .accordion
                            button.accordion__toggle(type="button" aria-expanded="false")
                                .accordion__icon
                                | Як користуватись сервісом
                            
                            .accordion__content(aria-hidden="true")
                                .accordion__text
                                    p Вам знайома ситуація, коли Ви шукаєте те, що колись читали, серед тисяч скріншотів різних юридичних ресурсів
