section.login-section
    .container.login-section__container
        .login-section__inner
            form.form.login-section__form(id="password-form" autocomplete="off" novalidate="novalidate")
                h1.section-title.form__title Новий пароль

                .form__group
                    .form__info Ви вже скинули пароль? 
                        a.blue-link(href="#" data-modal="modal-login") Увійти

                .form__group
                    input#inputNewPassword.input.form__input(type="password" name="inputNewPassword" placeholder="Пароль *" autocomplete="off" required)
                
                .form__group
                    .form-pass
                        .form-pass__power(data-pass-power="0")
                            .form-pass__item
                            .form-pass__item
                            .form-pass__item
                            .form-pass__item
                            
                        .form-pass__text Використовуйте 8 або більше символів із поєднанням літер, цифр і символів
                
                .form__group
                    input#inputConfirmNewPassword.input.form__input(type="password" name="inputConfirmNewPassword" placeholder="Повторіть пароль *" autocomplete="off" required)

                .form__button-group
                    button.button.form__button.form__button--big Створити
