section.reviews-section
    .container.reviews-section__container
        h2.section-title.reviews-section__title Відгуки

        .swiper.reviews-slider
            .swiper-wrapper
                .swiper-slide.reviews-slider__slide
                    .review-card
                        .review-card__header
                            h3.review-card__name Іван Іванов
                            time.review-card__date 21.11.2023

                        .rating.review-card__rating(data-rating="5")
                            .rating__item
                            .rating__item
                            .rating__item
                            .rating__item
                            .rating__item
                        
                        .review-card__body
                            p Вам знайома ситуація, коли Ви шукаєте те, що колись читали, серед тисяч скріншотів різних юридичних ресурсів?
                        
                        .review-card__footer
                            a.review-card__more(href="#" data-modal="modal-review") Читати детальніше
                                svg.review-card__more-icon(width="8" height="4")
                                    use(xlink:href="img/sprite.svg#dropdown-arrow") 
                
                .swiper-slide.reviews-slider__slide
                    .review-card
                        .review-card__header
                            h3.review-card__name Іван Іванов
                            time.review-card__date 21.11.2023

                        .rating.review-card__rating(data-rating="4")
                            .rating__item
                            .rating__item
                            .rating__item
                            .rating__item
                            .rating__item
                        
                        .review-card__body
                            p Вам знайома ситуація, коли Ви шукаєте те, що колись читали, серед тисяч скріншотів різних юридичних ресурсів?
                        
                        .review-card__footer
                            a.review-card__more(href="#" data-modal="modal-review") Читати детальніше
                                svg.review-card__more-icon(width="8" height="4")
                                    use(xlink:href="img/sprite.svg#dropdown-arrow") 

                .swiper-slide.reviews-slider__slide
                    .review-card
                        .review-card__header
                            h3.review-card__name Іван Іванов
                            time.review-card__date 21.11.2023

                        .rating.review-card__rating(data-rating="5")
                            .rating__item
                            .rating__item
                            .rating__item
                            .rating__item
                            .rating__item
                        
                        .review-card__body
                            p Вам знайома ситуація, коли Ви шукаєте те, що колись читали, серед тисяч скріншотів різних юридичних ресурсів?
                        
                        .review-card__footer
                            a.review-card__more(href="#" data-modal="modal-review") Читати детальніше
                                svg.review-card__more-icon(width="8" height="4")
                                    use(xlink:href="img/sprite.svg#dropdown-arrow")
                
                .swiper-slide.reviews-slider__slide
                    .review-card
                        .review-card__header
                            h3.review-card__name Іван Іванов
                            time.review-card__date 21.11.2023

                        .rating.review-card__rating(data-rating="4")
                            .rating__item
                            .rating__item
                            .rating__item
                            .rating__item
                            .rating__item
                        
                        .review-card__body
                            p Вам знайома ситуація, коли Ви шукаєте те, що колись читали, серед тисяч скріншотів різних юридичних ресурсів?
                        
                        .review-card__footer
                            a.review-card__more(href="#" data-modal="modal-review") Читати детальніше
                                svg.review-card__more-icon(width="8" height="4")
                                    use(xlink:href="img/sprite.svg#dropdown-arrow") 
                
                .swiper-slide.reviews-slider__slide
                    .review-card
                        .review-card__header
                            h3.review-card__name Іван Іванов
                            time.review-card__date 21.11.2023

                        .rating.review-card__rating(data-rating="5")
                            .rating__item
                            .rating__item
                            .rating__item
                            .rating__item
                            .rating__item
                        
                        .review-card__body
                            p Вам знайома ситуація, коли Ви шукаєте те, що колись читали, серед тисяч скріншотів різних юридичних ресурсів?
                        
                        .review-card__footer
                            a.review-card__more(href="#" data-modal="modal-review") Читати детальніше
                                svg.review-card__more-icon(width="8" height="4")
                                    use(xlink:href="img/sprite.svg#dropdown-arrow") 

                .swiper-slide.reviews-slider__slide
                    .review-card
                        .review-card__header
                            h3.review-card__name Іван Іванов
                            time.review-card__date 21.11.2023

                        .rating.review-card__rating(data-rating="4")
                            .rating__item
                            .rating__item
                            .rating__item
                            .rating__item
                            .rating__item
                        
                        .review-card__body
                            p Вам знайома ситуація, коли Ви шукаєте те, що колись читали, серед тисяч скріншотів різних юридичних ресурсів?
                        
                        .review-card__footer
                            a.review-card__more(href="#" data-modal="modal-review") Читати детальніше
                                svg.review-card__more-icon(width="8" height="4")
                                    use(xlink:href="img/sprite.svg#dropdown-arrow")
                 
            button.button.button--outline.reviews-slider__prev(type="button" aria-label="previous slide")
                svg.reviews-slider__prev-icon(width="10" height="19")
                    use(xlink:href="img/sprite.svg#arrow-left")

            button.button.button--outline.reviews-slider__next(type="button" aria-label="next slide")
                svg.reviews-slider__next-icon(width="10" height="19")
                    use(xlink:href="img/sprite.svg#arrow-right")

            .swiper-pagination.reviews-slider__pagination