section.seo-section
    .container.seo-section__container
        h2.section-title.seo-section__title Про наш сервіс

        .seo-section__text
            p Вам знайома ситуація, коли Ви шукаєте те, що колись читали, серед тисяч скріншотів різних юридичних ресурсів?
            p Клінінг – модне слово чи якісно новий рівень чистоти? Все залежить від фахівців, яким Ви довірите наведення порядку.
            p Клінінгова компанія CLEANHOUSE (КЛІНХАУС) пропонує широкий спектр послуг з якісного прибирання житлових, офісних та складських приміщень, а також магазинів та торгових площ.
            p Вам знайома ситуація, коли Ви шукаєте те, що колись читали, серед тисяч скріншотів різних юридичних ресурсів?
            p Клінінг – модне слово чи якісно новий рівень чистоти? Все залежить від фахівців, яким Ви довірите наведення порядку.
            p Клінінгова компанія CLEANHOUSE (КЛІНХАУС) пропонує широкий спектр послуг з якісного прибирання житлових, офісних та складських приміщень, а також магазинів та торгових площ.
            p Вам знайома ситуація, коли Ви шукаєте те, що колись читали, серед тисяч скріншотів різних юридичних ресурсів?
            p Клінінг – модне слово чи якісно новий рівень чистоти? Все залежить від фахівців, яким Ви довірите наведення порядку.
            p Клінінгова компанія CLEANHOUSE (КЛІНХАУС) пропонує широкий спектр послуг з якісного прибирання житлових, офісних та складських приміщень, а також магазинів та торгових площ.

        button.seo-section__more(type="button") Читати детальніше
            svg.arrow-button__icon(width="8" height="4")
                use(xlink:href="img/sprite.svg#dropdown-arrow")
