section.top-section
    .container.top-section__container
        .top-section__row
            .top-section__left
                h1.top-section__title База правових позицій
                    span Касаційний
                    span кримінальний суд

                p.top-section__slogan Онлайн сервіс, який допоможе вам зрозуміти та оцінити важливість судових рішень

                a.button.top-section__button(href="#") Спробувати

            .top-section__right
                picture.top-section__picture
                    img.top-section__img(src="img/top-img.webp" srcset="img/top-img@2x.webp 2x" loading="lazy" width="643" height="480"  alt="alt")
        
        h2.section-title.top-section__sub-title Наша мета

        ul.top-section__list
            li.top-section__item.top-section__item--12
                .goal-card
                    .goal-card__header
                        .goal-card__icon 💼
                        h3.goal-card__title Порядок
                    
                    .goal-card__body
                        p Вам знайома ситуація, коли Ви шукаєте те, що колись читали серед тисяч (далі змінити на текст наступного змісту: "юридичних ресурсів (фейсбук, телеграм, ЄДРСР, тощо)?
                        p Коли ви (далі змінити на текст наступного змісту: "зберегли цікавий висновок ККС, і не можете знайти його серед тисяч скріншотів, постів/ репостів на стіні у ФБ тощо?"
                        p Ми розробили..... до Ваших послуг. Доповнити: "Відтепер все в одному місці та завжи поруч"
            
            li.top-section__item
                .goal-card
                    .goal-card__header
                        .goal-card__icon ⏱️
                        h3.goal-card__title Швидкість = час!
                    
                    .goal-card__body
                        p Даний ресурс робить процес пошуку відповіді на юридичне питання простим, зручним, швидким.
                        p Структура бази, викладки сторінки із судовим рішенням, надані інструменти допоможуть досягнути цієї мети та зекономити час.
            
            li.top-section__item
                .goal-card
                    .goal-card__header
                        .goal-card__icon 🏠
                        h3.goal-card__title Надійність
                    
                    .goal-card__body
                        p Зручне, надійне місце зберігання персональної бібліотеки. Відтепер, Ви позбудетесь побоювань втратити все з ризиком неможливості відновлення втрачених багаторічних напрацювань.
                        p Все надійно зберігається в одному місці і завжди під рукою.