section.try-section
    .container.try-section__container
        .try-section__left
            h2.section-title.try-section__title Спробуйте наш сервіс всього 
                span за 5 $
                |  / місяць

            p.try-section__descr Ви заощаджуєте час та зусилля, отримуючи миттєвий доступ до багатої бази статей, які допоможуть вам успішно розумітися на складних юридичних питаннях.
            a.button.button--white.try-section__button(href="#") Спробувати
        
        .try-section__right
            picture.try-section__picture
                img.try-section__img(src="img/try-img.webp" srcset="img/try-img@2x.webp 2x" loading="lazy" width="452" height="312"  alt="alt")
        