section.why-section
    .container.why-section__container
        h2.section-title.why-section__title Чому саме цей ресурс?

        ul.why-section__list
            li.why-section__item.why-section__item--4
                .why-section__number 1
                p.why-section__text Структура бази, подібна до структури кк, кпк
            
            li.why-section__item.why-section__item--4
                .why-section__number 2
                p.why-section__text Викладка судових рішень за постатейною логікою зберігання та темами у кінцевому каталогу
            
            li.why-section__item.why-section__item--4
                .why-section__number 3
                p.why-section__text Iнтелектуальна система пошуку
            
            li.why-section__item.why-section__item--6
                .why-section__number 4
                p.why-section__text Особистий кабінет із корисними функціями та персональним налаштуванням під корисувача для створення власної бібліотеки
            
            li.why-section__item.why-section__item--6
                .why-section__number 5
                p.why-section__text Проста та зрозуміла структура сторінки із судовим рішенням: назва, реквізити рішення, правовий висновок, судове рішення. Вже по назві рішення з 3-7 слів зрозумілий правовий висновок загалом
